<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span translate>title</span>
    <span class="space"></span>
    <button mat-icon-button (click)='languageChoice()' [ngPlural]='translate.currentLang'>
      <ng-template ngPluralCase='=en'><img src="../../../assets/pictures/flag_en.png"></ng-template>
      <ng-template ngPluralCase='=fr'><img src="../../../assets/pictures/flag_fr.png"></ng-template>
    </button>
    <button mat-flat-button color ="primary" (click)="logout()" *ngIf="authService.isLoggedIn">Logout</button>
    <button mat-flat-button color ="primary" (click)="register()" *ngIf="!authService.isLoggedIn">Sign Up</button>

  </mat-toolbar-row>
</mat-toolbar>
