<div class="mat-elevation-z8 container">
  <mat-toolbar>
    <mat-toolbar-row>
      <mat-form-field class="form">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="{{ 'filter' | translate }}">
      </mat-form-field>
      <span class="example-spacer"></span>
      <mat-chip-list>
        <mat-chip routerLink="/companies" *ngIf="role">
          <mat-chip-list>
            <mat-chip disabled color="primary" selected>{{ 'computer' | translate }}</mat-chip>
            <mat-chip disabled>{{ 'company' | translate }}</mat-chip>
          </mat-chip-list>
        </mat-chip>
      </mat-chip-list>
      <button mat-icon-button style='float: right;' (click)="openAddPage()"><mat-icon>add</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>

  <app-computers-table [computers]="computers"></app-computers-table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
