.container {
  margin-top: 30px;
  margin-left: 5%;
  width: 90%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.form {
  width: 90%;
  margin-left: 1%
}

.example-spacer {
  flex: 1 1 auto;
}
