<div class="mat-elevation-z8 container">
  <mat-toolbar>
    <mat-toolbar-row>
      <mat-form-field class="form">
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
      </mat-form-field>
      <span class="example-spacer"></span>
      <button mat-icon-button style='float: right;' routerLink="/companies"><mat-icon>toggle_off</mat-icon></button>
      <button mat-icon-button style='float: right;' (click)="openAddPage()"><mat-icon>add</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>

  <app-computers-table [computers]="computers"></app-computers-table>

  <mat-paginator [pageSizeOptions]="[10, 15, 20]" showFirstLastButtons></mat-paginator>
</div>
