<div class="mat-elevation-z8 container">
  <mat-toolbar>
    <mat-toolbar-row>
      <mat-form-field class="form">
        <input matInput [(ngModel)]="search" placeholder="Filter">
      </mat-form-field>
      <span class="example-spacer"></span>
      <button mat-icon-button  routerLink="/computers"><mat-icon>toggle_on</mat-icon></button>
      <button mat-icon-button (click)="openAddPage()"><mat-icon>add</mat-icon></button>
    </mat-toolbar-row>
  </mat-toolbar>
  <div class="company-list">
    <app-companies-detail class="company-detail" *ngFor="let company of companies | filter: search" [company]="company"></app-companies-detail>
  </div>
</div>
