.example-container {
  display: block;
  width: 25%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 25%;
  transform: translateY(-50%);
  align-content: center;
}

.example-container > * {
  width: 100%;
}
