<mat-form-field class="update">
  <input matInput type="text" [formControl]="name" required [(ngModel)]="computer.name">
  <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
</mat-form-field>

<mat-form-field class="update">
  <input matInput [max]="today" [matDatepicker]="introduced" [(ngModel)]="introducedDate">
  <mat-datepicker-toggle matSuffix [for]="introduced"></mat-datepicker-toggle>
  <mat-datepicker #introduced></mat-datepicker>
</mat-form-field>

<mat-form-field class="update">
  <input matInput [min]="introducedDate" [max]="today" [matDatepicker]="discontinued" [(ngModel)]="discontinuedDate">
  <mat-datepicker-toggle matSuffix [for]="discontinued"></mat-datepicker-toggle>
  <mat-datepicker #discontinued></mat-datepicker>
</mat-form-field>

<mat-form-field class="update">
  <mat-select [(value)]="companyId">
    <mat-option [value]="-1">---</mat-option>
    <mat-option *ngFor="let company of companies" [value]="company.id">{{company.name}}</mat-option>
  </mat-select>
</mat-form-field>

<button mat-icon-button (click)="update()"><mat-icon>send</mat-icon></button>
