<div class="example-container">
  <mat-card-title>Add Company</mat-card-title>

  <mat-form-field>
    <input matInput type="text" placeholder="Name" [formControl]="name" required [(ngModel)]="company.name">
    <mat-error *ngIf="name.invalid">{{getNameErrorMessage()}}</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput type="text" placeholder="Picture link" required [(ngModel)]="company.picture">
  </mat-form-field>

  <div style="margin-top: 5px;">
    <button mat-raised-button style='width: 50%;' class="button" (click)="sendForm()">Create</button>
    <button mat-raised-button style='width: 50%; float: right;' color="warn" class="button" (click)="dialogRef.close()">Cancel</button>
  </div>
</div>
